@import "src/variables.scss";

body {
  margin: 0;
  padding: 0;
}

$popup-text: #333 !default;
$popup-background: #333 !default;

.Popup {
  background: $popup-background;

  &__Select {
    &Wrapper {
      display: none;
    }
    display: none;
    background: transparent;
    color: $popup-text;
  }
}
