body {
  margin: 0;
  padding: 0;
}

.App {
  background: #333;

  &__Select {
    // &Wrapper {
    //   margin: -10px;
    // }

    padding: 10px;
    background: transparent;
    color: #f2f2f2;
    display: block;
  }
}