@import "src/variables.scss";

$search-input-text: #fff !default;

.SearchInput {
    min-width: 300px;
    min-height: 40px;
    color: $search-input-text;
    background: transparent;
    border-style: none;
    padding: 0 20px;

    &:focus {
        outline: none;
        border: none;
    }
}
